.btn {
	@apply p-2 rounded cursor-pointer text-xl;
	background: var(--button-color);
	&:hover {
		background: var(--button-hover-color);
	}
	&:disabled {
		background: var(--button-disabled-color);
		cursor: default;
	}
}

.cont {
	@apply p-2 rounded-[5px] cursor-pointer;
	background: white !important;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
	border: 1px solid #e6e6e6;

	&:hover {
		filter: brightness(95%);
	}

	.dark & {
		@apply p-2 rounded-[5px] cursor-pointer;
		background: #30313d !important;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 1px 6px rgba(0, 0, 0, 0.25);
		border: 1px solid #424353;
		&:hover {
			filter: brightness(130%);
		}
	}
}

.dialog {
	position: fixed;
	/* width: 200px; */
	/* left: 50%; */
	/* top: 80%; */
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	/* transform: translate(-50%, -50%); */
}

input.cont:hover {
	filter: none;
	cursor: text;
}

.scale {
	transition: all 0.2s ease-in-out;
	&:hover {
		transform: scale(110%);
		&:disabled {
			transform: none;
		}
	}
}

.smallscale {
	transition: all 0.1s ease-in-out;
	&:hover {
		transform: scale(104%);
		&:disabled {
			transform: none;
		}
	}
}

.nolink {
	color: var(--text-color) !important;
	&:hover {
		text-decoration: none !important;
	}
}

.greyed {
	filter: contrast(10%);
}

/* The Modal (background) */
.modal {
	// display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
